@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Indie+Flower&display=swap');


body {
    background-image: url(/assets/images/heartleaves.jpg);
    background-size: cover;
    background-position: center;
}

/* --- Landing Page -- */

.main-page {
    margin: 100px 20px;
    background-color: rgb(54,112,45, 0.6);
    border-radius: 20px;
}

.heading {
    padding: 50px 20px 20px 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 50px;
    font-weight: 700;
    color: #dedcb5;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 5px black;
}

#play-btn {
    padding: 30px 0 50px 0;
    text-align: center;
}

.play {
    font-size: 2rem;
    width: 80%;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
}

button > a {
    text-decoration: none;
    color: black;
}

/* -- Game Page --*/

.question {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(54,112,45, 0.6);
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: #dedcb5;
    text-align: center;
    line-height: 35px;
    text-shadow: 3px 3px 5px black;
    border-radius: 20px;
}
  
img {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
  }

.option-btn {
    width: 100%;
    margin: 10px 0;
    border-radius: 10px;
    border-width: medium;
    font-family: "Dongle", sans-serif;
    font-size: 30px;
    background-color: #ffffa1;
}