@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Indie+Flower&display=swap');

/* ----- Various styling --- */
body {
    height: 100vh;
    width: 100vw;
    background: url("../images/heartleaves.jpg") center center;
    background-size: cover;
    overflow: scroll;
}

.row-gutter-fix {
    --bs-gutter-x: 0;
}

.hide {
    display: none;
}

/* ----- Landing Page --- */

.heading {
    margin-top: 100px;
    padding: 50px 20px 20px 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 70px;
    font-weight: 700;
    color: #dedcb5;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 5px 5px 5px black;
}

#play-btn {
    padding: 30px 0 10px 0;
    text-align: center;
}

#play, #restart-btn {
    font-size: 2rem;
    width: 60%;
    font-family: 'Indie Flower', cursive;
    font-weight: 700;
}

#play-link {
    display: block;
    text-decoration: none;
    color: black;
}

/* ----- Game Page --- */

.question, #score-p, #result {
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(54,112,45, 0.6);
    font-family: 'Dongle', sans-serif;
    font-size: 50px;
    color: #dedcb5;
    text-align: center;
    line-height: 35px;
    text-shadow: 3px 3px 5px black;
    border-radius: 20px;
}
  
#image {
    width: 100%;
    height: 300px;
    margin: 10px 0 30px 0;
  }

.option-btn {
    margin: 10px 0;
    width: 80%;
    padding: 2px;
    font-family: "Dongle", sans-serif;
    color: black;
    font-size: 30px;
    border-radius: 10px;
    border-width: medium;
    background-color: #ffffa1;
}

#score-p {
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

/* ----- Results Page --- */

#result {
    margin-top: 20px;
    line-height: 55px;
    font-size: 60px;
    font-family: 'Dongle', sans-serif;
    letter-spacing: 2px;
}

#end-game {
    padding-top: 100px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        flex-direction: row;
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
}

#restart {
    padding-top: 50px;
}

/* ----- Media Queries --- */

  @media screen and (min-width: 768px) {
    .question {
        margin-top: 40px;
        font-size: 60px;
    }

    #image {
        margin-top: 40px;
    }

    .option-btn {
        font-size: 40px;
    }

    #your-score, #score-p {
        font-size: 40px;
        margin-top: 50px;
        padding: 30px 0;
    }

    #result {
        font-size: 80px;
        padding: 40px;
    }

    #play, #restart-btn {
        font-size: 3rem;
        width: 100%;
    }
  }

  @media screen and (min-width: 1024px) {

    .question {
        font-size: 70px;
        line-height: 50px;
    }

    #your-score, #score-p {
        font-size: 50px;
        margin-top: 30px;
        padding: 20px 0;
    }

    #result {
        font-size: 100px;
        padding: 50px;
    }
  }